<?xml version="1.0"?>
<launch>

<!-- Patch 1-->
	<arg name="PATCH_ID_1" default="1"/>
	<arg name="NAMESPACE_1" default="patch1"/>
	<arg name="CONFIG_FILE_1" default="$(find tum_skin_tests_fiad)/skinConfigs/patch1.ini"/>
	<!--arg name="TF_PARENT_1" default="skin_world1"/  $(arg TF_PARENT_1)-->  

	<node name="sensor_data_left_arm_upper" pkg="tum_skin_tests_fiad" type="left_arm_upper" args= "$(arg PATCH_ID_1) $(arg NAMESPACE_1) $(arg CONFIG_FILE_1) " output="screen"/>


<!-- Patch 2-->
	<arg name="PATCH_ID_2" default="2"/>
	<arg name="NAMESPACE_2" default="patch2"/>
	<arg name="CONFIG_FILE_2" default="$(find tum_skin_tests_fiad)/skinConfigs/patch2.ini"/>
	<!--arg name="TF_PARENT_2" default="skin_world2"/  $(arg TF_PARENT_2)-->  

	<node name="sensor_data_right_arm_upper" pkg="tum_skin_tests_fiad" type="right_arm_upper" args= "$(arg PATCH_ID_2) $(arg NAMESPACE_2) $(arg CONFIG_FILE_2) " output="screen"/>  

<!-- Patch 3-->
	<arg name="PATCH_ID_3" default="3"/>
	<arg name="NAMESPACE_3" default="patch3"/>
	<arg name="CONFIG_FILE_3" default="$(find tum_skin_tests_fiad)/skinConfigs/patch3.ini"/>
	<!--arg name="TF_PARENT_3" default="skin_world3"/  $(arg TF_PARENT_3)-->  

	<node name="sensor_data_front" pkg="tum_skin_tests_fiad" type="front" args= "$(arg PATCH_ID_3) $(arg NAMESPACE_3) $(arg CONFIG_FILE_3) " output="screen"/>

<!-- Patch 4-->
	<arg name="PATCH_ID_4" default="4"/>
	<arg name="NAMESPACE_4" default="patch4"/>
	<arg name="CONFIG_FILE_4" default="$(find tum_skin_tests_fiad)/skinConfigs/patch4.ini"/>
	<!--arg name="TF_PARENT_4" default="skin_world4"/  $(arg TF_PARENT_4)-->  

	<node name="sensor_data_back" pkg="tum_skin_tests_fiad" type="back" args= "$(arg PATCH_ID_4) $(arg NAMESPACE_4) $(arg CONFIG_FILE_4) " output="screen"/>

</launch>
